.container {
  display: flex;
  justify-content: space-between;
}

.commentList {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  row-gap: 10px;
  column-gap: 10px;
}

.commentDetails {
  width: 15%;
}
